# Dependencies
node_modules/
.pnpm-store/

# Builds and coverage
build/
dist/
coverage/

# Environment
.env
.env.*

# Logs and temp
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs/
tmp/
temp/

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
